<footer class="page-foot">
	<a href="/qui-suis-je"><span>À propos</span></a>
	<a href="/archive"><span>Archives</span></a>
	<a href="/rss" target="_blank"><span>Feed</span></a>
	<span> <a id="mixture" target="_blank" href="http://mixture.io">Propulsé par Mixture </a></span>
</footer>
