/*
 * Setup
 */
/*
 * Settings
 */
@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic|Merriweather:400,700);
/* 
 * Mixins // Credit to Harry Roberts & inuit.css for these simple Mixins
 *
 * Font size
 */
/*
 * Vendor
 */
/*
 * Micro clearfix, as per: nicolasgallagher.com/micro-clearfix-hack
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
.cf {
  zoom: 1; }
  .cf:before, .cf:after {
    content: " ";
    display: table; }
  .cf:after {
    clear: both; }

/*
 * Mobile
 */
@media only screen and (max-width: 50em) {
  /*
   * Mobile
   */

   html {
   	background-color: #333; }


   .wrapper {
    padding: 2em;
    width: 500px;
    position: relative; /* on positionne le conteneur */
    margin-left: auto;
    margin-right: auto;
    text-align: left; }

  /*
   * Header
   */
   .page-head {}

   .page-head p {
    font-size: 15px;
    color: #fff;
    font-size: 1rem;
    line-height: 1.53333;
    padding-bottom: 22px;
    padding-top: 10px;
    /*border-bottom: solid 3px #595959;*/ }

   .page-head .ident {
  	color: #d474b8;
  	text-decoration: none;
    font-size: 35px;
    font-size: 1.9rem;
    line-height: 1.31429; }


   .twitter {
   	color: #595959; }

   .twitter:hover {
    color: #60a9dd; }

  
  /*
   * Nav primary
   */
   .primary {
   	background-color: #f3f2f2;
   	box-shadow: 1px 1px 1px #000;
   	padding: 10px;
   	padding-top: 5px; }

   .primary ul {
   	padding-left: 0; }

   .primary ul li {
   	display: inline-block;
   	padding-right: 10px; }

   .primary ul li a {
   	color: #424950;
   	font-size: 1em; }

   .primary ul li a:visited {
   	color: #424950; }

   .primary ul li a:hover {
   	color: #d474b8; }


   

  /*
   * Content
   */

   .content {
   	background-color: #f3f2f2;
   	box-shadow: 1px 1px 1px #000;
   	padding: 10px;
    padding-bottom: 20px; }

   li {
   	font-size: 1rem; }

   a {
   	color: #d474b8;
   	text-decoration: none;
   	font-weight: bold;
   	font-family: "Ebrima", Times, serif; }

   a:visited {
   	color: #d474b8;
   	text-decoration: none;
   	font-weight: bold; }

   p {
   	color: #333;
   	font-family: "Ebrima", Times, serif;
   	font-size: 1rem;
   	margin-bottom: 0;
   	margin-top: 0; }

   /*b {
   	color: #333;
   	font-family: "Ebrima", Times, serif;
   	font-size: 1rem;
   	margin-bottom: 0;
   	margin-top: 0; }*/

   h1 {
   	color: #d474b8;
   	text-decoration: none;
   	font-size: 1.5rem;
   	font-weight: bold;
   	font-family: "Ebrima", Times, serif;
    margin-top: 0px; }

   h2 {
   	color: #d474b8;
   	text-decoration: none;
   	font-size: 1.4rem;
   	font-weight: bold;
   	font-family: "Ebrima", Times, serif; }

   #h2-statique {
   	color: #333;
   	font-size: 1.2em; }

   ul,ol {
   	color: #333;
   	font-family: "Ebrima", Times, serif;
   	font-size: 1.1rem; }

  /*
   * Footer
   */
   .page-foot {
    background-color: #BEBDBD;
   	box-shadow: 1px 1px 1px #000;
   	padding: 10px;
   	padding-top: 20px; }

   .page-foot a {
   	color: #424950;
   	padding-right: 20px; }
   .page-foot a:visited {
   	color: #424950; }
   .page-foot a:hover {
   	color: #d474b8; }
   #mixture {
   	color: #d474b8;
   	float: right;
    font-size: 0.8em; }

/*
   * Formulaire
   */

  fieldset {
    border:1px solid #d474b8;
    border-radius: 2px;
    background: #FAE2F3;
    margin-top: 10px; }

  legend {
  /* styles de caractères */ 
    font-family: "Ebrima", Times, serif;
    font-size: 1.2em; 
    font-weight: bold;
    color: #d474b8; 
    /* marges et bordures */
    padding:5px;
    margin: 0px 0 30px 0;
    border:1px solid #d474b8;
    border-radius: 2px; 
    /* couleur de fond */
    background-color: #fff; }

  label {
  /* positionnement marge et taille */
    float: left; 
    clear: left;
    margin-right: 5px;
    width: 110px;
    /* styles de caractères */
    font-family: "Ebrima", Times, serif;
    font-size: 14px;
    font-weight: bold;
    color: #445668;
    text-align: left; }

  input {
  /* styles de caractères */
    font:Verdana, Geneva, sans-serif;
    font-size: 0.8em; 
    color: #4b4b4b; 
    /* marge et taille */
    width: 270px; 
    height: 20px; 
    padding-left: 5px;
    margin: 0 0 20px 0;
    /* couleur de fond */
    background-color: #fff;
    /* bordures */
    border:1px solid #666;
    border-radius: 2px; }

  textarea {
  /* styles de caractères */
    font-size: 0.8em;
    color: #4b4b4b;
    font-family:Verdana, Geneva, Sans-serif;
    /* marge taille et ombre portée */
    width: 255px;
    height: 80px;
    padding: 10px 10px 0px 10px;
    margin: 0 0 20px 0;
    /* couleur de fond */
    background: #fff;
    /* bordures */
    border:1px solid #666;
    border-radius: 2px; }

  .envoyer {
    margin-left: 115px;
    width: 278px;
    background-color: #d474b8;
    border: 1px solid #d474b8;
    color: #fff;
    font-weight: bold; }

/*
   * Réseaux sociaux
   */
  .reseaux-sociaux {
    text-align: center; }

  .reseaux-sociaux ul {
    padding-left: 0px; }

  .reseaux-sociaux ul li {
    display: inline-block;
    padding-right: 20px; }



/*
   * Divers article
   */
  .paging {
    text-align: center;
    color: #333;
    font-family: "Ebrima", Times, serif;
    font-size: 1rem; }

  .date {
    color: #d474b8;
    font-family: "Ebrima", Times, serif;
    font-size: 0.8rem; }

}
  /*
 * Écran
 */
@media only screen and (min-width: 50em) {
  /*
   * Écran
   */

   html {
   	background-color: #333; }


   .wrapper {
    padding: 2em;
    width: 720px;
    position: relative; /* on positionne le conteneur */
    margin-left: auto;
    margin-right: auto;
    text-align: left; } 


  /*
   * Header
   */
   .page-head {}

   .page-head p {
    font-size: 15px;
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.53333;
    padding-bottom: 22px;
    padding-top: 10px;
    /*border-bottom: solid 3px #595959;*/ }

   .page-head .ident {
  	color: #d474b8;
  	text-decoration: none;
    font-size: 35px;
    font-size: 2rem;
    line-height: 1.31429; }


   .twitter {
   	color: #595959; }

   .twitter:hover {
    color: #60a9dd; }

  
  /*
   * Nav primary
   */
   .primary {
   	background-color: #f3f2f2;
   	box-shadow: 1px 1px 1px #000;
   	padding: 10px;
   	padding-top: 5px;
   	padding-left: 20px;
   	padding-right: 20px; }

   .primary ul {
   	padding-left: 0; }

   .primary ul li {
   	display: inline-block;
   	padding-right: 10px; }

   .primary ul li a {
   	color: #424950;
   	font-size: 1.1em; }

   .primary ul li a:visited {
   	color: #424950; }

   .primary ul li a:hover {
   	color: #d474b8; }

   

  /*
   * Content
   */

   .content {
   	background-color: #f3f2f2;
   	box-shadow: 1px 1px 1px #000;
   	padding: 20px;
    padding-top: 10px;
    padding-bottom: 20px; }

   a {
   	color: #d474b8;
   	text-decoration: none;
   	font-weight: bold;
   	font-family: "Ebrima", Times, serif; }

   a:visited {
   	color: #d474b8;
   	text-decoration: none;
   	font-weight: bold; }

   a:active {
   	color: #d474b8; }

   p {
   	color: #333;
   	font-family: "Ebrima", Times, serif;
   	font-size: 1.1rem;
   	margin-bottom: 0;
   	margin-top: 0; }


   h1 {
   	color: #d474b8;
   	text-decoration: none;
   	font-size: 1.8rem;
   	font-weight: bold;
   	font-family: "Ebrima", Times, serif;
    margin-top: 0px; }

   h2 {
   	color: #d474b8;
   	text-decoration: none;
   	font-size: 1.5rem;
   	font-weight: bold;
   	font-family: "Ebrima", Times, serif; }

   #h2-statique {
   	color: #333;
   	font-size: 1.4em; }

   ul,ol {
   	color: #333;
   	font-family: "Ebrima", Times, serif;
   	font-size: 1.1rem; }

  /*
   * Footer
   */
   .page-foot {
    background-color: #BEBDBD;
   	box-shadow: 1px 1px 1px #000;
   	padding: 10px;
   	padding-top: 20px;
   	padding-left: 20px;
   	padding-right: 20px; }

   .page-foot a {
   	color: #424950;
   	padding-right: 20px; }
   .page-foot a:visited {
   	color: #424950; }
   .page-foot a:hover {
   	color: #d474b8; }
   #mixture {
   	color: #d474b8;
   	float: right;
    font-size: 0.9em;}

  /*
   * Formulaire
   */
  fieldset {
    border:1px solid #d474b8;
    border-radius: 2px;
    background: #FAE2F3;
    width: 462px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; }

  legend {
  /* styles de caractères */ 
    font-family: "Ebrima", Times, serif;
    font-size: 1.4em; 
    font-weight: bold;
    color: #d474b8; 
    /* marges et bordures */
    padding:5px;
    margin: 0px 0 30px 0;
    border:1px solid #d474b8;
    border-radius: 2px; 
    /* couleur de fond */
    background-color: #fff; }

  label {
  /* positionnement marge et taille */
    float: left; 
    clear: left;
    margin-right: 64px;
    width: 121px;
    /* styles de caractères */
    font-family: "Ebrima", Times, serif;
    font-size: 1em;
    font-weight: bold;
    color: #445668;
    text-align: left; }

  input {
  /* styles de caractères */
    font:Verdana, Geneva, sans-serif;
    font-size: 0.8em; 
    color: #4b4b4b; 
    /* marge et taille */
    width: 270px; 
    height: 20px; 
    padding-left: 5px;
    margin: 0 0 20px 0;
    /* couleur de fond */
    background-color: #fff;
    /* bordures */
    border:1px solid #666;
    border-radius: 2px; }

  textarea {
  /* styles de caractères */
    font-size: 0.8em;
    color: #4b4b4b;
    font-family:Verdana, Geneva, Sans-serif;
    /* marge taille et ombre portée */
    width: 255px;
    height: 80px;
    padding: 10px 10px 0px 10px;
    margin: 0 0 20px 0;
    /* couleur de fond */
    background: #fff;
    /* bordures */
    border:1px solid #666;
    border-radius: 2px; }

  .envoyer {
    margin-left: 115px;
    width: 278px;
    background-color: #d474b8;
    border: 1px solid #d474b8;
    color: #fff;
    font-weight: bold; }

/*
   * Réseaux sociaux
   */
  .reseaux-sociaux {
    text-align: center; }

  .reseaux-sociaux ul {
    padding-left: 0px; }

  .reseaux-sociaux ul li {
    display: inline-block;
    padding-right: 20px; }
    
/*
   * Divers article
   */
  .paging {
    text-align: center;
    color: #333;
    font-family: "Ebrima", Times, serif;
    font-size: 1rem; }

  .date {
    color: #d474b8;
    font-family: "Ebrima", Times, serif;
    font-size: 0.8rem; }
   	
}

