{% layout "index" %}
{% block content %} 
	<article>
		<h1>Oups ! Une erreur 404 est survenue.</h1>
		<p>Je suis désolée, la page que vous cherchez est actuellement introuvable.</p>
	</br>
		<a href="/">Revenir à la page d'accueil >></a>
	</article>
{% endblock %}