{% layout "index" %}
{% block content %} 
	<article>
		<h1>Compétences</h1>
		
		<h2 id="h2-statique">Gestion éditoriale</h2>
		<p>La gestion éditoriale est devenue indispensable à la création d'un site web. Une ergonomie facilitée et des contenus attractifs et souvent mis à jour inciteront les internautes à rester sur votre site et même à y revenir régulièrement.</p>
	</br>
		<p><b>Wording et référencement</b></p>
		<p>Afin de donner une impression d'homogénéité à votre site, il est indispensable de bien penser son wording, ou lexique :</p>
		<nav>
			<ul>
				<li>Un menu avec des termes homogènes</li>
				<li>Des mots-clés répartis intelligemment à des endroits stratégiques</li>
				<li>Une structure adaptée au référencement avec une hiérarchie des titres et des contenus</li>
				<li>Des liens omniprésents et bien construits mais sans excès</li>
			</ul>
		</nav>
		<p><b>Création d'une charte éditoriale</b></p>
		<nav>
			<ul>
				<li>Mise en place d'une ligne éditoriale adaptée incluant la tonalité et le discours utilisés</li>
				<li>Définition d'un rythme de publication fixe auquel il faut se maintenir</li>
				<li>Création d'un planning d'animation du site hebdomadaire et mensuel</li>
				<li>Mise en place de règles dans la création des contenus, notamment s'il y a plusieurs rédacteurs</li>
				<li>Établissement d'une charte d'utilisation des réseaux sociaux</li>
			</ul>
		</nav>

		<h2 id="h2-statique">Référencement</h2>
		<p>Travailler le référencement en amont de la création de son site puis au quotidien est primordial. En effet, même si votre concept est excellent est vos contenus attractifs, vous aurez du mal à attirer les internautes si vous n'êtes pas visible sur les moteurs de recherche, et notamment Google.</p>
	</br>
		<p><b>Penser le référencement dès le début</b></p>
		<nav>
			<ul>
				<li>Définir les mots-clés relatifs à son activité puis les placer stratégiquement sur le site</li>
				<li>Utiliser une structure HTML conforme aux standards du web et lisible par les moteurs de recherche</li>
				<li>Avoir un site compatible avec tous les navigateurs et les différents terminaux actuels (écrans, mobiles etc.)</li>
				<li>Penser à tous les points clés d'un référencement réussi : temps de chargement, balises optimisées, fichiers robots.txt et sitemap...</li>
			</ul>
		</nav>
	</br>
		<p><b>Optimiser son référencement au quotidien</b></p>
		<nav>
			<ul>
				<li>Utiliser des systèmes d'analyse de trafic et de suivi du SEO* tels que <a href="http://www.google.fr/intl/fr/analytics/" target="_blank">Google Analytics</a> et <a href="https://www.google.com/webmasters/tools/home?hl=fr" target="_blank">Google Webmaster Tools</a></li>
				<li>Auditer régulièrement son site et effectuer les optimisations nécessaires</li>
				<li>Penser au référencement pour chacun de ses contenus via l'utilisation des mots-clés principaux et de la longue traine (mots clés secondaires utilisés par les internautes)</li>
				<li>Utilisation des réseaux sociaux pour booster sa notoriété et liens entrants</li>
			</ul>
		</nav>

		<h2 id="h2-statique">Community management</h2>
		<p>Les réseaux sociaux sont un véritable tremplin pour les marques qui souhaitent se faire connaître. Les internautes en raffolent, et contribuent d'eux-mêmes à la viralité de vos contenus et à l'amélioration de votre e-réputation.</p>
	</br>
		<nav>
			<ul>
				<li>Définir les réseaux sociaux pertinents à utiliser pour sa marque</li>
				<li>Création d'une charte d'utilisation : ton, fréquence de publication, choix des contenus, délai de réponse aux commentaires etc.</li>
				<li>Trouver des prescripteurs : des internautes qui vous aideront à promouvoir votre marque</li>
				<li>Convertir ses "fans" en internautes puis en clients</li>
			</ul>
		</nav>
	</br>
		<p>Toutes ces étapes sont nécessaires si l'on souhaite que son site soit non seulement visible sur le web mais aussi visité par les internautes. Je me ferai un plaisir de vous aider si vous avez besoin de conseil. N'hésitez pas à <a href="contact.liquid">me contacter</a> si vous avez des questions.</p>
	</br>
	<p>Vous pouvez également consulter <a href="cv-piarulli.coline.pdf" target="_blank">mon cv</a> pour en savoir plus.</p>
</br>
	<p style="font-size: 0.8em;">*SEO ou Search Engine Optimization est le terme anglais pour parler de référencement naturel. Le SEA quant à lui désigne le référencement payant, notamment via les campagnes Adwords. Le SEO et le SEA forment le SEM, ou terme générique du référencement.</p>
	</article>
{% endblock %}