{% layout "index" %}
{% block content %} 
	<article>
		<h1>Contact</h1>
		<p>Si vous souhaitez me contacter, merci d'utiliser le formulaire ci-dessous. Je répondrai à chaque message le plus rapidement possible.</p>
		
	<form action="soumission.php" method="post"> 
		<fieldset>

		<legend>Formulaire de contact</legend> <!--notre titre de groupe de champs--> 

			<label for="name">Nom et Prénom</label>
			<input type="text" id="name" name="name" placeholder="Saisissez votre nom et prénom" required/>
			<label for="email">Email</label>
			<input type="email" id="email" name="email" placeholder="Saisissez votre email" required/>
			<label for="objet">Objet</label>
			<input type="text" id="objet" name="objet" placeholder="Saisissez l'objet de votre message" required/>
			<label for="message">Message</label>
			<textarea name="message" cols="" rows="" id="message" placeholder="Ecrivez ici votre message"></textarea>
			<input type="submit" value="Envoyer" class="envoyer"/>
		</fieldset> 
	</form>

		<div class="reseaux-sociaux">
		<h2 id="h2-statique">Retrouvez-moi aussi sur les réseaux sociaux !</h2>
		<nav>
			<ul class="rs">
				<li><a href="https://twitter.com/ColinePiarulli" target="_blank" class="tw"><img src="images/twitter-gris.png" alt="Twitter" width="40px" height="40px"/></a></li>
				<li><a href="https://plus.google.com/+ColinePiarulli/" target="_blank" class="go"><img src="images/google-gris.png" alt="Google +" width="40px" height="40px"/></a></li>
				<li><a href="http://www.linkedin.com/pub/coline-piarulli/75/7a1/956" target="_blank" class="in"><img src="images/linkedin-gris.png" alt="Linkedin" width="40px" height="40px"/></a></li>
				<li><a href="http://fr.viadeo.com/fr/profile/coline.piarulli" target="_blank" class="vi"><img src="images/viadeo-gris.png" alt="Viadeo" width="40px" height="40px"/></a></li>
			</ul>
		</nav>
		</div>


	</article>
{% endblock %}