{% layout "index" %}
{% block content %} 
	<article>
		<h1>Parcours</h1>
		<h2 id="h2-statique">Chargée de communication</h2>
		<p>Avant de me spécialiser dans le web, je me suis intéressée à la communication. Ma licence en <a href="http://www.u-grenoble3.fr/version-francaise/formations/par-thematiques/communication-et-journalisme/licence-information-et-communication-43890.kjsp?RH=U3FR_FORM034" target="_blank">Information et Communication</a> m'a permis de faire un stage fort intéressant au service "Communication Relationnelle" du <b>Crédit Agricole Sud Rhône Alpes</b>. Cette expérience m'a aidé à me familiariser avec les différents aspects du métier de chargée de communication. L'établissement d'une stratégie de communication sur des thématiques précises, la création de supports de communication, les contraintes liées au budget et aux délais etc.</p>
		<p>À cette occasion, j'ai découvert l'importance de la communication digitale et des réseaux sociaux. Un monde fort lié au domaine de la communication classique mais fonctionnant de manière bien différente.</p>
		<p>En effet, avoir une présence sur le web permet non seulement d'augmenter sa visibilité de façon phénoménale, mais aussi de se rapprocher de ses clients. Cela demande un investissement relativement important cependant, mais si les fruits de ce travail sont longs à acquérir, ils en valent vraiment la peine.</p>
		<p>De son côté, l'internaute a la possibilité de comparer les offres, de les commenter et de les partager afin de demander conseil à ses pairs. De notre côté, nous devons nous efforcer de proposer une offre de qualité, adaptée a une cible précise et qui saura attirer l'internaute et l'inciter à devenir client.</p>
		<p>Il ne s'agit plus d'un marketing poussif, mais d'inciter les clients potentiels à nous faire confiance. C'est cela qui m'a incité à poursuivre dans cette voie, et qui me plaît toujours aujourd'hui. Un joli défi à relever !</P>
		<h2 id="h2-statique">Webmaster éditorialiste</h2>
		<p>C'est ma formation en alternance qui m'a permis de devenir web-éditorialiste. À cheval entre la licence professionnelle Webmestre éditorialiste et la société Square Connexion, j'ai appris les tenants et les aboutissants de la profession.</p>
		<p>J'ai acquis des <a href="/competences.liquid">compétences</a> en rédaction web, en animation éditoriale, en community management, en référencement ainsi qu'en communication BtoB et BtoC.</p>
		<p>Depuis, j'ai été embauchée à plein temps par la société en tant que web-éditorialiste et community manager pour le site <a href="http://www.tootici.fr/fr/" target="_blank">Tootici.fr</a>. J'ai à ma charge le référencement du site et la gestion des réseaux sociaux, et je partage avec ma collègue la gestion éditoriale. J'ai dû apprendre beaucoup de choses "sur le tas" comme on dit, parfois aidée par des professionnels du référencement. Étant peu nombreuses dans notre service "E-trafic", je participe également à des missions de web-marketing, trigger marketing puis d'emailing en général.</p>
		<p>Il est très important dans ce milieu d'avoir des connaissances variées et de se montrer polyvalent. Le webdesign, le développement, le SEM (SEO et SEA) et le marketing sont intimement liés, et avoir des connaissances dans chacun de ces domaines permet de mieux avancer et de travailler sur des bases saines. C'est pour cela que j'ai décidé de créer moi-même ce site web, même si j'ai été bien aidée par <a href="http://hugogiraudel.com/" target="_blank">Hugo Giraudel</a>, un intégrateur web sacrément doué.</p>
	</br>
		<p><b>À l'avenir...</b></p>
		<p>À l'avenir, j'aimerais me spécialiser dans le <a href="http://www.markentive.fr/blog/categories/content-marketing" target="_blank">content marketing</a> et la stratégie éditoriale. Miser sur la qualité et la confiance comme ce dont nous inspirons en tant qu'internaute.</p>
	</article>
{% endblock %}