{% layout "index" %}
{% block content %} 
	<article>
		<h1>Qui suis-je ?</h1>
		
		<h2 id="h2-statique">Une fille des Alpes</h2>
		<p>Je suis Coline Piarulli et je vous souhaite la bienvenue sur mon site personnel. Je suis de Grenoble, capitale des Alpes en Isère, où j'ai toujours vécu.</p>
		<p>J'apprécie beaucoup la région Rhône Alpes riche en paysages, en gastronomie et en innovation. Des domaines très éloignés, certes, mais si les trois vous passionnent, vous êtes fait pour vivre ici, tout comme moi.</p>
		
		<h2 id="h2-statique">Une web-addict</h2>
		<p>Je suis de la génération Y, et par conséquent, une passionnée du web et des nouvelles technologies. Férue de lecture on-line et off-line, je parcours régulièrement la toile pour me tenir informée des dernières nouveautés. Vous pouvez aussi me retrouver sur les réseaux sociaux tels que Twitter, Facebook, Google+, linkedin et Viadéo. Rendez-vous sur la page <a href="contact.liquid">Contact</a> pour en savoir plus.</p>
		
		<h2 id="h2-statique">Une webmaster éditorialiste</h2>
		<p><b>Quézaco ?</b><br>
		Un web éditorialiste est une personne en charge de l'animation d'un site internet. Il gère le contenu éditorial à proprement parlé ainsi que les mises en avant des produits ou services au travers d'articles, de publicités et de visuels. Ce métier demande d'excellentes <a href="competences.liquid">compétences</a> en référencement (SEO et SEA), en rédaction web et en techniques de webmarketing.</p>
		<p><b>Attention !</b> il ne s'agit ni d'un webdesigner ni d'un développeur. Le web éditorialiste doit avoir des connaissances dans ces deux domaines, mais ce n'est pas son coeur de métier.</p>
		<p><b>Mes autres missions</b><br>
		Le web éditorial est un domaine qui demande de la polyvalence. C'est pourquoi je me suis intéressée au <b>content-marketing</b>. Il s'agit de mettre en place une campagne marketing via des contenus intéressants et de qualité. C'est de l'inbound marketing, et en termes moins barbares : cela signifie que l'on ne va pas démarcher le client, mais l'inciter à venir vous chercher de lui-même parce que vous êtes expert dans votre domaine.</p>
		<p>Pour cela, j'utilise différents leviers :</p>
		<nav>
		<ul>
			<li><b>les réseaux sociaux :</b> humanisation de la relation clients et acquisition de trafic</li>
            <li><b>l'emailing :</b> tient les internautes au courant de vos nouveautés</li>
            <li><b>le référencement :</b> aide au positionnement dans les moteurs de recherche</li>
            <li><b>des contenus variés :</b> articles, livre blanc, infographies...</li>
			<li><b>un blog :</b> réunit tous vos contenus sur une même plateforme</li>		
		</ul>
		<br>
		<p>Prenez le temps de naviguer sur mon site afin de mieux me connaître. Et pour lire mes derniers articles, rendez-vous dans la rubrique <a href="/">Blog</a> !</p>


	</article>
{% endblock %}